@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@media (min-width: 992px) {
    .grid-cols-5{
        grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
    }
}

@media (min-width: 768px) {
    .grid-cols-5{
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }
}

@media (min-width: 360px) {
    .grid-cols-5{
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
}
