@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@media (max-width: 1600px) {
    .grid-cols-5{
        grid-template-columns: repeat(5, minmax(0, 1fr)) ;
    }
}

@media (max-width: 992px) {
    .grid-cols-5{
        grid-template-columns: repeat(3, minmax(0, 1fr)) ;
    }
}

@media (max-width: 576px) {
    .grid-cols-5{
        grid-template-columns: repeat(1, minmax(0, 1fr)); 
    }
}
